// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$background: #F5F4EB;
$orange1: #C55300;
$orange2: #D07000;
$orange3: #D36B00;
$green1: #224B0C;
$red1: #C21010;
$red2: #FF1E00;
$red3: #990000;
$lemond: #EAE509;
$y: #F7EC09;