// Specific CSS for your home-page

.img-fluid{
	margin: 20px;
	 box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.logo-home {
	height: 50px;
} 
.img-how-page
{
	width: 100%;
  min-height: 350px;
  border-radius: 0px;
}
p.text-dashboard {
	font-family: 'Universal Sans',sans-serif;
	color: #2f2f30;
	font-size: 18px;
	line-height: 1.5em;
	font-weight: 500;
}
h3.text
{
	font-family: Garnett,sans-serif;
	font-size: 32px;
	line-height: 1.25em;
	letter-spacing: -.8px;
}
a {
  text-decoration: none;
}
// .carousel-control-next-icon, .carousel-control-prev-icon {
//   display: inline-block;
//   width: 2rem;
//   height: 2rem;
//   background-repeat: no-repeat;
//   background-position: 50%;
//   background-size: 100% 100%;
//   color: red;
//   background-color: red;
// }
h3.text-center.title{
	color:$purple;
}
