// Specific CSS for your home-page

.logo-home {
	height: 50px;
} 
a {
  text-decoration: none;
}
// .carousel-control-next-icon, .carousel-control-prev-icon {
//   display: inline-block;
//   width: 2rem;
//   height: 2rem;
//   background-repeat: no-repeat;
//   background-position: 50%;
//   background-size: 100% 100%;
//   color: red;
//   background-color: red;
// }
h3.text-center.title{
	color:$purple;
}
