.new_tontine .form-control {
  background-color: white;
  border: 2px solid $purple;
  border-radius: 8px;
  padding: 0.475rem 0.75rem;
}

.tontine_members legend {
  display: none;
}

.tontine_members span {
  font-size: 9px;
  font-weight: bold;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label .avatar-form {
  border: 2px solid transparent;
}

.category-selector:checked + label .avatar-form {
  border: 2px solid $purple;
}

.category-selector:checked + label span {
  color: $purple;
}

.form-check span {
  font-size: 12px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

.text-center {
  font-size: 24px;
}

.new_tontine {
  font-weight: bold;
}
