<link rel="stylesheet" type="text/css" href="_form.css">

<div class ="form_style">
  <form action="/tontines/<%= @tontine.id %>/add_members" method="patch">
  <% (1...@tontine.participants).map do |i| %>
   <select name="member<%=i%>">
   <% @users.each do |user| %>
    <option value="<%= user.id %>"><%= "#{user.first_name} #{user.last_name}" %></option>
    <% end %>
  </select>
  <% end %>
  <input type="submit" value="Add Members">
</div>