 .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center;
}
.navbar-lewagon {
  background: white;
  .home-link {
    color: black;
    text-decoration: none;
  }
  .logo-wrapper {
    height: 50px;
  }
  .logo {
    height: 100%;
  }
  .logo-title {

  }
}


.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  min-height: 100vh;
}

.container-fluid {
  max-width: 1050px;
  width: 90%;
  margin: auto;
  background-color: #FFF
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 400px;
  width: 100%;
  object-fit: contain;
}