.tontine_title {
  color: #3B8C4D;
  margin: 0 auto;

}

.tontine_description {
  padding-top: 10vh ;
  font-family:'Courier New', Courier, monospace;
  color: #3B8C4D;
  text-align: center;
}


img {
  border-radius: 50%;
}

p.logo_title  {
  color: #3B8C4D;
  font-size: larger;
  margin: 0 auto;
}

.inline {
  display: list-item inline;;
}

.members_list  {
  padding: 20px;
}
