



.title_style {
  color: #3B8C4D;
  margin: 0 auto;

}

.tontine_description {
  position: relative;
  top: 70px;
  font-family:'Courier New', Courier, monospace;
  color: #3B8C4D;
  margin: 0 auto;
  padding:20px ;
}


img {
  border-radius: 50%;
}

p.logo_title  {
  color: #3B8C4D;
  font-size: larger;
  margin: 0 auto;
}
