<div class="footer">
  <%= link_to dashboard_path, class: 'footer-nav' do %>
    <i class="fa-solid fa-list-check"></i>
    <span>Tontines</span>
  <% end %>
  <%= link_to "#", class: 'footer-nav' do %>
    <i class="fa-solid fa-bell"></i>
    <span>Notifications</span>
  <% end -%>
  <%= link_to "#", class: 'footer-nav footer-chatrooms' do %>
    <i class="fa-solid fa-comments">
      <% if session[:messages_counter].present? %>
        <div class="counter"><%= session[:messages_counter] %></div>
      <% end -%>
    </i>
    <span>Discussions</span>
  <% end -%>
</div>
