<!--<div class="footer mt-2">
  <div class="footer-links w-100">
    <%= link_to dashboard_path do %>
     <i class="fa-solid fa-chart-line"></i><p>Dashboard</p>
    <% end %>
    <a href="#"><i class="fa-regular fa-envelope"></i><p>Notifications</p></a>
    <a href="#"><i class="fa-regular fa-comments"></i><p>Messages</p></a>
    <a href="#"><i class="fa-regular fa-user"></i><p>Profile</p></a>
  </div>
</div>--> 
