<div class="footer mt-2">
  <div class="footer-links w-100 justify-item-center mt-5">
    <%= link_to dashboard_path do %>
     <i class="fa-solid fa-chart-line"></i><p>Dashboard</p>
    <% end %>

      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered d-flex justify-item-center" />
      <p><%= current_user.first_name %></p>
      <a href="#"><i class="fa-regular fa-envelope"></i><p>Notifications</p></a>
    <!--<a href="#"><i class="fa-regular fa-comments"></i><p>Messages</p></a>-->
  </div>
</div>
